<footer class="footer bg-dark py-3 mt-auto"><!--padding in y-axis-->
    <div class="container">     <!--margintop-auto-->
        <span class="text-muted">&copy; YelpCamp 2023</span><!--for the cpyrights symbol-->

    </div>
</footer>
